body {
    font-family: 'Share Tech Mono', monospace;
}

#instructions {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#instructions > h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px ;
}

#instructions > h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#button-space {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

button, #submit {
    font-family: 'Share Tech Mono', monospace;
    border-style: solid;
    border-color: rgb(232,232,232);
    background-color: rgb(255,255,255);
    margin-left: 2px;
    margin-right: 2px;
}

button:active, #submit:active {
    position: relative;
    top: 2px;
}

#button-name {
    border-style: solid;
    border-color: rgb(232,232,232);
    border-width: 2px;
}

form {
    text-align: center;
}

input {
    margin-top: 4px;
    margin-bottom: 20px;
}

#results {
    margin: auto;
}

.response {
    margin-bottom: 20px;
    float: left;
}

.gif {
    margin: 5px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding-bottom: 0px;
}

.rating {
    text-align: center;
}

